#include "res.h"

#define APSTUDIO_READONLY_SYMBOLS
#include "winres.h"
#undef APSTUDIO_READONLY_SYMBOLS

IDI_LOGO ICON "logo.ico"
IDR_ICON_FONT ICON_FONT "icon.ttf"

VS_VERSION_INFO VERSIONINFO
FILEVERSION 2,1,8,0
PRODUCTVERSION 2,1,8,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName", "GitHub xland"
            VALUE "FileDescription", "ScreenCapture"
            VALUE "FileVersion", "2.1.8.0"
            VALUE "InternalName", "ScreenCapture.exe"
            VALUE "LegalCopyright", "Copyright (C) LiuXiaolun 2023-2024"
            VALUE "OriginalFilename", "ScreenCapture.exe"
            VALUE "ProductName", "ScreenCapture"
            VALUE "ProductVersion", "2.1.8.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200
    END
END
